@import "tailwindcss";

.input-style {
    @apply w-full px-4 py-2 border border-red-300 rounded-l outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700;
}

@theme{
    --color-primary: #FBFBFB;
    --color-secondary: #E8F9FF;
    --color-accent: #3674B5;
}